on:
  workflow_call:
    inputs:
      instance-url:
        type: string
        description: Salesforce instance URL to log in to as Dev Hub org
        required: false
        default: https://login.salesforce.com
      client-id:
        type: string
        description: OAuth client ID (sometimes called consumer key) of the connected app on Salesforce used to connect to the Dev Hub org
        required: false
        default: 3H7cm0QedwevwtVKpSJ4PXeI7kvPanBgB3qK0sBU06E5MSMka3xqeg9JETRkx8Z8PQxuZkUvlMJH10MQ8A9uw
      jwt-key-encrypted:
        type: string
        description: Ansible Vault-encrypted private key to connect to the target org with using the JWT flow (this should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!)
        required: false
        default: |
          $ANSIBLE_VAULT;1.1;AES256
          36366266633466333062353737373533353663353639356239353337383566636139366165656164
          6366356464393562303262303365663530316261333861640a333034356636323964303265646538
          62373230316666383936643662393833316165396632303536666235363563343337373730666363
          6434326536306664650a616432386135393437363165313830313635666566643836313738376534
          36633062663763653464383732623633306463613562633431373962316163336564303033373461
          61303836353333323864613538633566636231333231633537663465343566666231316565336362
          34373066373261613135656461633135643533653665333531376630336266373438343635646237
          64343166356236363537383435396234343161316631396637653431623630393665353233353566
          30343165376166386637376265363864326265373739656561613137653161643734626166393137
          62646264613366373337353037306237386466643032656366343934666537313939353038636165
          38643333356565333961313064623331396563646431323862373736623665333162663832373562
          33356465396263653264373166343533373866636332396431363763623930626537646261396564
          62303061643462363632633934623831623733623264386138643033363931376665346264393361
          65343030663264366534383835633033383237663066646338316162613961643662393665353136
          61373962366630363366646530326238656339333838663531383332303562656364306165333237
          64613966366438333366336663363733373033653833633736303366363535613865303238623034
          63396566616533643034363436383563366438373965646365376538656161626361633337303963
          36333563383238363266313131376165653638633766613838396530353666623538613262383138
          31376463316132373435373164343930333631386530343731636534653562376537306535313665
          63346564363563386530633865393063316266626361323262616536633133306132316332386535
          64343037393363396635376335393131316563386363633032366264623332663230613131643464
          63656566363132643463393231343535333333653831626363363463663133313437396638393961
          39303336353766623038626431303730633734363831663165373334626635396633323837313763
          38663965323136313433636434303464633364666632386666326330326230303731626436323563
          30316434626263353737376361386331656365313663663264393130313265646633383732663534
          33643730346561643630376430303238636333623532343633396662653062393232643836383762
          65363336616263666539346565656336363231326564326437633836616339303836346331326230
          37356365333330633238356466656131376136633234303963383266653265656636393965396333
          39323736356432656639393735323865656636363435316633343239666636393534396639353339
          39613231663665313665303737666231643333393361363766383666396166343437326539333838
          66303234363264303537663765376464366433313432376330333764623136333630313536373031
          32333239626233303461616365303338303838643866353038343635396330636430396666613164
          32303163383662363661613537633235333334363435646338333835346533633635323264373136
          38353934353234373530383734333732323663393261386130376637616131623162373065313466
          31623635653131346638633336376563383737313361373839346563356335343737343963626134
          31386264356639643861393761376137383164363433383539353032643365626430353536383231
          63653634313631656433383835326331396666623361613934356536343165643436313731323930
          34333530633839396630356131303931656330353834353638333237643737353561313935386164
          62396466383434383037353235623065346665363335363338343365653862373234333466663133
          38303166623331303562356363303331363939646361356362353465353331633135356563313230
          39653738303132396664666633323761383262346334363936656561653035643136336534303338
          35383231353833653034653039356531383264663236323164313430323662343739343933303738
          65633262646565636161623934323933656339633437386261613066396162636466633264313133
          34373738396136333434356564346563383734353563373964333164656664616266373362643835
          66663031393736313132353063653730613464666536323035336539643363373439633862316536
          63383539356634326462363233646364313265346433323763303162363735626665613434303933
          65313436303738373666383361633666653733613234346639393761376130643562653465383530
          33613161656461333862373337343139643433613238346365633666383737376565393332313735
          37306463343330386161653138623963383564343862336335316335323536313838316439383831
          34383135313236376264393131653064613834636538323234663636313438366434303562373539
          38316461373762396336343362366265323237336535343764653766356132366635316265656664
          31346462626164346362386632323333333261636364656638626538646239363031383761373766
          33636438666436616534333836663765313533646430323065666538303739306431383635326138
          35663934643938343132656531316332343930383033616661623432313031643231633765393532
          64333564623963323332366533646262613234326361353436666237313161323031646264333361
          63393135633232306138303334383263333433343931366631326537316538393763323032663433
          35303330646339646434653364353565373839656138343939363931653936316635303731323233
          62663535633036326132356632396664653862303539326233616261663830386137643265323937
          37346133663838663862363435663433313035366565646261393438336634643761393262323065
          35663635333531353939363962356263336539316239386465376133326535323532356466303736
          37353961663536353132353065396338636231356432643038333739323866653164326562373638
          35373331343132663863326135316534316336343630333738623133386566353337623036383537
          62363663356530643932376430373539636565343934306562373137336332623162653730386663
          33363764613137633663363334653965613338616533396266313135656331663831353130663266
          61386631353639613038303561343038633035376133656330633436643762366434346164363830
          39646661623336626635313033316361646365346432653233306138303732333533313536343165
          38306430343564626533346436303664303537333661323564626365353934656536333765323736
          63316133646638306135346636386139646538303439386639643130393035396130353030653764
          37346632376661643434306665653332353334386564323935363861373561306539613339646132
          62356232653533373864643739323533346364313136313033306132303631323036636465306630
          62393066313861646262643263653264663037643237613061396437326236343536303965643835
          64323961353537666630396536396265316335656266633762616564313733393235616435316165
          37373238623735633061363362653363616562336434363366366264646232376437623439386666
          32643236626237613262363139333564653433333364316333653164353837303537313235623434
          63356561356434653338633562383466303737376364336338393133383335393337663262333466
          65306562663362643731373130643161383334353234376633333033666233363335333563393961
          38643833306665626436313632343532326638336537303233396335376334353638626338666336
          37643661356561333163643565383334656630626566613035316336323032616566313862646336
          37396465333732626464336364306231653835313338363838393138313135346364663161633739
          34306365643464393931303265646262313638363837643333326134663236646230343630366333
          61393638306363396238666434653137363862356132313134386233646138613264383330396566
          31613731303239656161373834306366393736646436353739303139623431656632323330653261
          62393465303438613434353032303139396162626535326239323463666633356365353934653636
          33353133303439646130383237363735386239303934396637613663343766326164643463363333
          65303363356164313864616132633961363762313934376132303739316133363364613436643665
          63333030633634623439626635663737343137383438336566643137363162333732323533623765
          34363232313235633233613264343839376365316137633361643461353762633333383765356265
          38653161363732663133356435313862643562393063376431636432373437626235393237303333
          38366134633039636464363566663364656434373037653562653131613438616336306664646164
          34643762626532633930643065366539396163326662623565633562343736613466303539633464
          363437316663356130353437616138323830
      username:
        type: string
        description: Username of Salesforce user to authenticate as; must have permission to create scratch orgs
        required: false
        default: admin@wtax.prod
      run-tests:
        type: boolean
        description: Whether to run tests as part of the deployment. This is required when deploying to a production org.
        required: false
        default: true
    secrets:
      ansible-vault-password:
        description: Password to be used to decrypt the `jwt-key-encrypted`.
        required: true

jobs:
  send-predeploy-slack-notification:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/slack-pre-deploy-msg.yml@main
    secrets:
      ansible-vault-password: ${{ secrets.ansible-vault-password }}

  deploy:
    needs:
      - send-predeploy-slack-notification
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-sfdx-project.yml@WSS-60-Fix-deletes-in-sfdx-deployments
    with:
      instance-url: ${{ inputs.instance-url }}
      client-id: ${{ inputs.client-id }}
      username: ${{ inputs.username }}
      jwt-key-encrypted: ${{ inputs.jwt-key-encrypted }}
      run-tests: ${{ inputs.run-tests }}
    secrets:
      ansible-vault-password: ${{ secrets.ansible-vault-password }}

  send-success-slack-notification:
    needs:
      - deploy
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/slack-success-deploy-msg.yml@main
    secrets:
      ansible-vault-password: ${{ secrets.ansible-vault-password }}
    if: ${{ success() }}

  send-failure-slack-notification:
    needs:
      - deploy
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/slack-fail-deploy-msg.yml@main
    secrets:
      ansible-vault-password: ${{ secrets.ansible-vault-password }}
    if: ${{ failure() }}