on:
  workflow_call:
    inputs:
      git-deploy-tag:
        type: string
        description: Optional git tag to apply to the deployed commit (e.g. dev, uat, prod)
        required: false
      sonar-url:
        type: string
        description: URL of the Sonar server to use for analyzing the code. If omitted, the WTax Sonar server at sonar.wtax.co will be used. The `sonar-login` secret should hold a valid access token or username:password combination for this server.
        required: false
        default: https://sonar.wtax.co
      sonar-quality-gate:
        type: boolean
        description: Whether to poll the SonarQube instance until the quality gate status is available and fail the build if the quality gate fails.
        required: false
        default: false
      instance-url:
        type: string
        description: Salesforce instance URL to log in to as Dev Hub org
        required: false
        default: https://test.salesforce.com
      client-id:
        type: string
        description: OAuth client ID (sometimes called consumer key) of the connected app on Salesforce used to connect to the Dev Hub org
        required: false
        default: 3MVG9mVMtbWMH6luwQZnh1Uwup6n5H3x2AJnTMrd3_HZSuTHQaZCRI4NhVfJtunn5UMRvyVpscVI9br8CDFmY
      jwt-key-encrypted:
        type: string
        description: Ansible Vault-encrypted private key to connect to the target org with using the JWT flow (this should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!)
        required: false
        default: |
          $ANSIBLE_VAULT;1.1;AES256
          30386536376163383366303135373765383331326630363138363333376339393135616163313131
          3562326433383839366464383236303465383966343366340a393137663636663462623664383439
          36656531336264313637336635353738613131623034316437393338326336303466326132363336
          6135383635643035620a306435363137303932353938653535313362316662623564323861386462
          66383337313735316131633563633534306261666566306661623434383264316161333364363564
          34373364633163643538666434343635306366656665343135623663363330303135663562333737
          32353634633366363434316536363063393439323935366261623337376532333064336137646263
          33383163333330383231
      username:
        type: string
        description: Username of Salesforce user to authenticate as; must have permission to create scratch orgs
        required: false
        default: admin@wtax.prod.developer
      run-tests:
        type: boolean
        description: Whether to run tests as part of the deployment. This is required when deploying to a production org.
        required: true
      destructive-changes-after-deployment:
        type: boolean
        description: Instruct Salesforce to apply destructive changes (i.e. deletes) after the deployment. This is the default. In some cases you may want to apply destructive changes before deploying. In that case, set this input to false.
        required: false
        default: true
      environment:
        type: string
        description: The name of a GitHub deployment environment in the repository that determines which deployment protection rules, such as reviews, will apply to this deployment.
        required: false
      metadata-artifact:
        type: string
        description:
          The name of a previously uploaded artifact containing the metadata to deploy.
          If omitted, the workflow generates one automatically.
          If set, deletes-artifact and test-classes-artifact must also be specified.
        required: false
      test-classes-artifact:
        type: string
        description:
          The name of a previously uploaded artifact containing a test-classes.txt file with the names of Apex test
          classes in the metadata, one class per line.
          If omitted, the workflow generates one automatically.
          If set, metadata-artifact and deletes-artifact must also be specified.
        required: false
      deletes-artifact:
        type: string
        description:
          The name of a previously uploaded artifact containing a deletes.csv file with metadata to delete.
          If omitted, the workflow generates one automatically.
          If set, metadata-artifact and test-classes-artifact are also required.
        required: false
    secrets:
      ansible-vault-password:
        description: Password to be used to decrypt the `jwt-key-encrypted`.
        required: true
jobs:
  deploy:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-sfdx-project.yml@main
    with:
      sonar-url: ${{ inputs.sonar-url }}
      sonar-quality-gate: ${{ inputs.sonar-quality-gate }}
      instance-url: ${{ inputs.instance-url }}
      client-id: ${{ inputs.client-id }}
      username: ${{ inputs.username }}
      jwt-key-encrypted: ${{ inputs.jwt-key-encrypted }}
      run-tests: ${{ inputs.run-tests }}
      destructive-changes-after-deployment: ${{ inputs.destructive-changes-after-deployment }}
      environment: ${{ inputs.environment }}
      metadata-artifact: ${{ inputs.metadata-artifact }}
      test-classes-artifact: ${{ inputs.test-classes-artifact }}
      deletes-artifact: ${{ inputs.deletes-artifact }}
      running-environment: developer
      git-deploy-tag: ${{ inputs.git-deploy-tag }}
    secrets:
      ansible-vault-password: ${{ secrets.ansible-vault-password }}
