on:
  workflow_call:
    inputs:
      source-directory:
        type: string
        description: Directory containing the main source of the project. Usually force-app, but can be something else. This is used to determine which entry in packageDirectories in sfdx-project.json is the main one. Defaults to force-app.
        required: false
        default: force-app
      sonar-url:
        type: string
        description: URL of the Sonar server to use for analyzing the code. If omitted, no Sonar analysis will be run.
        required: false
      sonar-login-encrypted:
        type: string
        description: Ansible Vault-encrypted access token or username:password combination for the Sonar server specified in the `sonar-url` input. (This should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!)
        required: false
        default: |
          $ANSIBLE_VAULT;1.1;AES256
          32383833326465363461613034373735353061326462373665653330313132316435373132333230
          3039643535343833333336306339376265363837383233370a313866313130373936396565643862
          66383061666138303463306435303236646137623634396662646232343837353731636665633961
          3465333431326532360a373035396232353032353236313165376138343463343539636632373139
          33393861363331373862366339663363353436623765316164303932303666626635336632633065
          3539363134663136646165386566353962326664643833353464
      sonar-quality-gate:
        type: boolean
        description: Whether to poll the SonarQube instance until the quality gate status is available and fail the build if the quality gate fails.
        required: false
        default: false
      instance-url:
        type: string
        description: Salesforce instance URL of the target org
        required: true
      client-id:
        type: string
        description: OAuth client ID (sometimes called consumer key) of the connected app on Salesforce used to connect to the target org
        required: true
      jwt-key-encrypted:
        type: string
        description: Ansible Vault-encrypted private key to connect to the target org with using the JWT flow. (This should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!)
        required: true
      username:
        type: string
        description: Username of Salesforce user to authenticate as on the target org
        required: true
      run-tests:
        type: boolean
        description: Whether to run tests as part of the deployment. This is required when deploying to a production org.
        required: true
      docker-username:
        type: string
        description: Username to use to connect to the docker registry docker.wtax.co that contains the wtax/pmd image used for static code analysis
        required: false
        default: github
      docker-password-encrypted:
        type: string
        description: Ansible Vault-encrypted password matching the `docker-username` used to log in to the Docker registry docker.wtax.co. This should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!
        required: false
        default: |
          $ANSIBLE_VAULT;1.1;AES256
          63353733303166336136366435326436353731376636366631396239656432326433393265663965
          3736366139386466646534633963346133396333376333380a343032326335623566626263623062
          66646433313964633930383465626633666636633937303839306266346562316230643965373633
          6365326631316564640a626466666634333235656163333334373538663534323862303733353664
          63626230363462643364393731616137393231653866363230636238393266363430
      destructive-changes-after-deployment:
        type: boolean
        description: Instruct Salesforce to apply destructive changes (i.e. deletes) after the deployment. This is the default. In some cases you may want to apply destructive changes before deploying. In that case, set this input to false.
        required: false
        default: true
      environment:
        type: string
        description: Name of the environment to deploy to used for reviews
        required: false
    secrets:
      ansible-vault-password:
        description: Password to be used to decrypt the `jwt-key-encrypted`.
        required: true
jobs:
  find-previous-build:
    runs-on: ubuntu-latest
    outputs:
      has-artifact: ${{ steps.check.outputs.found }}
    steps:
      - name: try download metadata ZIP file
        id: download-metadata
        continue-on-error: true
        uses: actions/download-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}.zip"
          path: target

      - name: try download test classes text file
        id: download-tests
        continue-on-error: true
        uses: actions/download-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}-test-classes.txt"
          path: target

      - name: try download deletes file
        id: download-deletes
        continue-on-error: true
        uses: actions/download-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}-deletes.txt"
          path: target

      - name: set output
        id: check
        run: |
          if [ -f "target/${{ github.event.repository.name }}-${{ github.sha }}/package.xml" ] \
             && [ -f "target/${{ github.event.repository.name }}-${{ github.sha }}-test-classes.txt" ] \
             && [ -f "target/${{ github.event.repository.name }}-${{ github.sha }}-deletes.txt" ]; then
            echo "found=true" >> $GITHUB_OUTPUT
          else
            echo "found=false" >> $GITHUB_OUTPUT
          fi

  build:
    runs-on: ubuntu-latest
    needs: find-previous-build
    if: needs.find-previous-build.outputs.has-artifact == 'false'
    steps:
      - name: check out code
        uses: actions/checkout@v4

      - name: install jq
        run: sudo apt-get install -y jq

      - name: set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: install Salesforce CLI (sfdx)
        run: npm list -g @salesforce/cli || npm install -g @salesforce/cli

      - name: package the source as metadata
        run: |
          mkdir -p "target/${{ github.event.repository.name }}-${{ github.sha }}"
          sf project convert source --source-dir "${{ inputs.source-directory }}" --output-dir="target/${{ github.event.repository.name }}-${{ github.sha }}"

      - name: determine which components are marked for deletion (have a "//DELETE" line)
        run: |
          metadata_directory="target/${{ github.event.repository.name }}-${{ github.sha }}"
          grep -rE '(^\/\/ *DELETE$|^<!-- *DELETE *-->)' "${metadata_directory}" | awk -F':' '{print $1}' | while read line; do
            filename=`basename "$line"`
            ext=${filename##*.}
            component=`basename "$filename" .$ext`  # Strip off the extension and assume the base file name is the component's full name
            if [ "${ext}" == "cls" ]; then  # Apex classes
              type=ApexClass
            elif [ "${ext}" == "trigger" ]; then  # Apex triggers
              type=ApexTrigger
            elif [ "${ext}" == "page" ]; then  # Visualforce pages
              type=ApexPage
            elif [ "${ext}" == "component" ]; then  # Visualforce components
              type=ApexComponent
            elif [ "${ext}" == "network" ]; then  # Network (digital experience)
              type=Network
            elif [ "${ext}" == "site" ]; then  # Site
              type=Site
            elif [ "${ext}" == "flow" ]; then  # Flow
              type=Flow
            else
              type=Unknown
            fi
            echo "${line},${type},${component}"
          done > target/deletes.csv
          echo "`wc -l < target/deletes.csv` component(s) marked for deletion"

      - name: archive deletes.csv
        uses: actions/upload-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}-deletes.csv"
          path: target/${{ github.event.repository.name }}-${{ github.sha }}-deletes.csv

      - name: remove components marked as deleted from metadata
        run: |
          metadata_directory="target/${{ github.event.repository.name }}-${{ github.sha }}"
          >target/deletes-apexClasses.txt
          echo "Removing components marked as deleted from metadata directory..."

          awk -F, '{print "path=\""$1"\" type=\""$2"\" fullName=\""$3"\""}' target/deletes.csv | while read line; do
            eval $line
            # Remove files
            rm $path
            if [ "$type" != "Flow" ]; then
                rm $path-meta.xml
            fi
            # Remove component from package manifest.
            # NOTE: This doesn't guarantee that the member is being removed (only) from the correct type section. E.g. 
            #       if there is both an ApexClass and an AuraDefinitionBundle with the same full name and the ApexClass
            #       was marked as deleted, this would also remove the AuraDefinitionBundle from the package manifest.
            sed -i.bak "/<members>${fullName}<\\/members>/d" ${metadata_directory}/package.xml

            # While we're looping over the components to be deleted; save just the Apex class names to a separate
            # file. This will come in handy when determining which Apex tests there are in the project.
            if [ "$type" == "ApexClass" ]; then
              echo "${fullName}" >> target/deletes-apexClasses.txt
            fi
          done

          rm -f ${metadata_directory}/package.xml.bak
          echo "`wc -l <target/deletes.csv` components removed from metadata directory."

      - name: find unit test classes in project
        run: |
          echo "Finding unit tests in project..."
          if [ -d "force-app/test" ]; then
            find force-app/test -name '*.cls' | while read test; do
              testClass="$(basename "${test}" .cls)"
              grep "${testClass}" target/deletes-apexClasses.txt >/dev/null || echo "${testClass}" >>target/test-classes.txt
            done
          else
            echo "No force-app/test directory found. Skipping task."
            touch target/test-classes.txt  # Prevent downstream issues
          fi

      - name: archive test-classes.txt
        uses: actions/upload-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}-test-classes.txt"
          path: target/${{ github.event.repository.name }}-${{ github.sha }}-test-classes.txt

      - name: archive metadata directory
        uses: actions/upload-artifact@v4
        with:
          name: "${{ github.event.repository.name }}-${{ github.sha }}.zip"
          path: target/${{ github.event.repository.name }}-${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs:
      - find-previous-build
      - build
    if: |
      always() && (
        needs.find-previous-build.outputs.has-artifact == 'true' ||
        needs.build.result == 'success'
      )