on:
  workflow_call:
    inputs:
      boot-jar:
        description: The path to the executable JAR to deploy, e.g. wtax-my-service-1.0.0-SNAPSHOT.jar. This must be an artifact that was archived in a previous job in this workflow. The JAR path will be passed to the Ansible playbook via `-e boot_jar=<<boot-jar>>`.
        type: string
        required: true
      known-hosts:
        description: The line or lines to be added to the `.ssh/known_hosts` file on the runner machine so that the public key of the remote host can be verified when connecting to detect possible man-in-the-middle attacks.
        type: string
        default: ""
        required: false
      ansible-playbook:
        description: The Ansible playbook to run, relative to the deploy directory. This playbook should take a variable `boot_jar` defining the executable JAR to deploy. Defaults to deploy.yml.
        type: string
        default: deploy.yml
        required: false
      ansible-inventory:
        description: The Ansible inventory to run the playbook against, relative to the deploy directory.
        type: string
        required: true
      environment:
        type: string
        description: The name of a GitHub deployment environment in the repository that determines which deployment protection rules, such as reviews, will apply to this deployment.
        required: false
      environment-type:
        type: string
        description: The environment type to which this workflow will deploy the java application. The workflow will choose an appropriate runner that has access to the deployment environment. Either 'prod' or 'nonprod'.
        required: true
    secrets:
      ansible-vault-password:
        description: Password to be used to decrypt values encrypted by Ansible Vault. Can be omitted if no Ansible Vault encrypted values are in the playbook or inventory.
        required: false
      ssh-private-key:
        description: SSH private key to be used to connect to remote hosts to deploy the application there. The corresponding public key must have been added to the remote host's `authorized_keys` file.
        required: false

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on:
      group: ${{ inputs.environment-type == 'prod' && 'larger-runner-java-prod' || 'larger-runner-java-nonprod' }}
    steps:
      - name: Print IP address of runner
        run: curl -s ifconfig.me
      - name: Copy artifacts into workspace
        uses: actions/download-artifact@v4
        with:
          name: artifact
          path: deploy
      - name: Copy deploy scripts into workspace
        uses: actions/download-artifact@v4
        with:
          name: deploy-scripts
          path: deploy
      - name: Write Ansible Vault password out to file
        run: echo "${{ secrets.ansible-vault-password }}" >.vault-password
        working-directory: ./deploy
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.ssh-private-key }}
          known_hosts: ${{ inputs.known-hosts }}
      - name: Run deploy playbook
        run: ansible-playbook -i ${{ inputs.ansible-inventory }} -e boot_jar=${{ inputs.boot-jar }} --vault-password-file=.vault-password deploy.yml
        working-directory: ./deploy
