on:
  workflow_call:
    inputs:
      slack-webhook-url-encrypted:
        type: string
        description: Ansible Vault-encrypted url to connect to the WTax Slack channel (this should be encrypted using ansible-vault encrypt, NOT ansible-vault encrypt_string!)
        required: false
        default: |
          $ANSIBLE_VAULT;1.1;AES256
          36343362653465353336633433623861306133616439623536323937393430646431373439376334
          3930623466393166353565313135353431633130303437630a643239636631383338306238306638
          63643665373364393161633133303432613130653662653366616533383864346539356338376161
          3062393766623338630a616566656561316432353865393439396265386464363236646539313763
          35326662633939356238653937633235626164613638396265633634333932366666623332323131
          33326332323535663830366336333433323765313736353138393130666339623838393437396566
          34313230313535333332656337643937626162653931383135633239653939303635643936326331
          30343066313865306161
      environment:
        type: string
        description: The name of a GitHub deployment environment in the repository that determines which deployment protection rules, such as reviews, will apply to this deployment.
        required: false
    secrets:
      ansible-vault-password:
        description: Password to be used to decrypt the `slack-webhook-url-encrypted`.
        required: true

jobs:
  send-pre-deployment-notification:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:

      - name: write encrypted Slack webhook url to file
        run: echo '${{ inputs.slack-webhook-url-encrypted }}' >.slack-webhook-url

      - name: write Ansible Vault password to file
        run: echo "${{ secrets.ansible-vault-password }}" >.vault-password

      - name: decrypt the private key for the Continuous Integration connected app
        run: ansible-vault decrypt --vault-password-file=.vault-password .slack-webhook-url

      - name: output slack url
        id: slack-url
        run: echo url="`cat .slack-webhook-url`" >>$GITHUB_OUTPUT

      - name: Send pre-deployment message to Slack
        id: slack_pre_deployment_message
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
              {
                "blocks": [
                    {
                      "type": "header",
                      "text": {
                        "type": "plain_text",
                        "text": "Deployment to Prod Initiated :stopwatch:",
                        "emoji": true
                      }
                    },
                    {
                      "type": "section",
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Repository:*\n${{ github.repository }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Deployed by:*\n${{ github.actor }}"
                        }
                      ]
                    }
                ]
              }
        env:
          SLACK_WEBHOOK_URL: ${{ steps.slack-url.outputs.url }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
